<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="hero">
    <picture>
        <source srcset="./images/vehicles/delorean-tn.jpg" media="(max-width: 500px)">
        <img class="hero-img" src="./images/vehicles/delorean.jpg" alt="Delorean">
    </picture>
    
    <section class="cta">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button>Own Today</button>
    </section>
</div>
<div class="grid">
    <section class="column-2">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li> <q>So fast it's almost like traveling in time.</q> (4/5) </li>
            <li> <q>Coolest ride on the road.</q> (4/5)</li>
            <li> <q>I'm feeling McFly!</q> (5/5)</li>
            <li> <q>The most futuristic ride of our day.</q> (4.5/5)</li>
            <li> <q>80's livin and I love It!</q> (5/5)</li>
        </ul>
    </section>
    <section class="column-1">
        <h2>Delorean Upgrades</h2>
        <div class="delorean-upgrades">
            <figure id="flux_capacitor">
                <div class="figure-background">
                    <img src="./images/upgrades/flux-cap.png" alt="flux capacitor">
                </div>
                <figcaption><a href="#flux_capacitor">Flux Capacitor</a></figcaption>
            </figure>
            <figure id="flame_decals">
                <div class="figure-background">
                    <img src="./images/upgrades/flame.jpg" alt="flame decals">
                </div>
                <figcaption><a href="#flame_decals">Flame Decals</a></figcaption>
            </figure>
            <figure id="bumper_stickers">
                <div class="figure-background">
                    <img src="./images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                </div>
                <figcaption><a href="#bumper_stickers">Bumper Stickers</a></figcaption>
            </figure>
            <figure id="hub_caps">
                <div class="figure-background">
                    <img src="./images/upgrades/hub-cap.jpg" alt="hub caps">
                </div>
                <figcaption><a href="#hub_caps">Hub Caps</a></figcaption>
            </figure>
        </div>
    </section>
</div>