<!--Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>


<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
   </ul>
<% } %>

<div class="form-group form-group-maxwidth">
    <span class="constraints">Field is required.</span>

    <form action="/inv/add/classification" method="post" class="inventory-form">       
        <label for="classification_name">Classification Name</label>
        <span class="constraints">NAME MUST BE ALPHABETIC CHARACTERS ONLY.</span>
        <input 
            type="text" 
            id="classification_name" 
            name="classification_name" 
            required 
            value="<%= locals.classification_name%>"
            pattern="^[a-zA-Z]+$"
        >
        <input class="inventory-submit" type="submit" value="Add Classification">
    </form>
</div>
