<!--Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<h2><%= locals.fullname %> Inbox</h2>

<ul>
    <li><a href="/message/add">Create New Message</a></li>
    <li><a href="">View <%= locals.archivedNotification %></a></li>
</ul>

<%- locals.messageTable %>